
<div class="mt-5 mx-5" style="height: 10%;">
<div routerLink="/profesionales"  class=" btn w-25 h-50 p-3  d-inline-block  btn-success text-white" id="zoom" style="height: 100%;" >
    <img class="p-2 w-100  d-inline-block" src="https://images2.imgbox.com/06/d8/tlz8lpHH_o.jpg" alt="" >
    Kinesiologia
</div>
<div routerLink="/profesionales" class="btn p-2 w-25 h-50 d-inline-block  btn-danger text-white" id="zoom" style="height: 100%; ">
    <img class="p-3 w-100 d-inline-block" src="https://images2.imgbox.com/f2/49/FftP1hCN_o.jpg" alt="" >
    Fonoaudilogia
</div>
<div routerLink="/profesionales" class="btn p-2 w-25 d-inline-block  btn-warning text-white" id="zoom" style="height: 100%;">
    <img class=" p-3 w-100 d-inline-block" src="https://images2.imgbox.com/50/d4/RHUxgceW_o.png" alt="">
    Psicologia
</div>
<div routerLink="/profesionales" class="btn p-2 w-25 d-inline-block  btn-info text-white" id="zoom" style="height: 100%;">
    <img class=" p-3 w-100 d-inline-block" src="https://images2.imgbox.com/26/c2/pXFJtfYF_o.jpg" alt="">
    Hidroterapia
</div>
</div>


   

