
<div class="mt-5" style="display: flex;flex-direction: row; justify-content: center;">
<div class = "card bg-primary w-25" >
    <div class="card-body">
    <form>
        <div class="mb-2">
            <label class="mx-2 text-white">
                Usuario:
            </label>
            <input type="text" class="form-control"  name="formularioNombre" placeholder="Por favor Ingrese su nombre de usuario">
            <div class="aler alert-danger" [hidden]="true">
                Llenar este campo
            </div>
        </div>
        <div class="mb-2">
            <label class="mx-2 text-white">
                Clave:
            </label>
            <input type="password" class="form-control" name="formularioClave" placeholder="Por favor Ingrese su clave">  
        </div>
    
        
    </form>
    
    <div>
        <button class="btn btn-light mt-2 " (click)="guardar()" >Guardar</button></div>
        <div class="aler alert-danger mt-2" [hidden]="!guardado">
            Datos guardados con exito!
        </div>
    </div>
    
    
    </div>
</div>
