<nav>
    <ul class="bg-primary w-100 h-50">
       <a class="btn btn-primary" routerLink="/">Home</a>
       <a class="btn btn-primary" routerLink="/servicios">Servicios</a>
       <a class="btn btn-primary" routerLink="/acceso">Acceso</a>
       <a class="btn btn-primary" routerLink="/profesionales">Profesionales</a>
       <a class="btn btn-success my-2" routerLink="/turnos">Turnos</a>
       <a routerLink="/" style="width: 200px; margin-left: 50%;"> 
        <img routerLink="/" style="width: 12%;" src="https://images2.imgbox.com/72/8b/ic4qD3n9_o.jpg" alt="">
       </a>
    </ul>
</nav>

