<footer >
    <div class=" mt-3 h-75 " style="background-color: #E3F2FE;">
        <img width="300" height="300" src="https://images2.imgbox.com/b0/e7/DFWl6kZ1_o.png" alt="">
       
        <div class="d-inline-block mx-4 mt-1">
            <span>
                <strong class="text-primary text-center">
                    San Luis - Capital
                </strong>
            </span>
            <p class="mt-3">
                 Centro medico y de Rehabilitacion:
                    <br>
                    Mitre 1234
                    <br>
                    2664-768576
                       <a class="navbar-brand" href="https://api.whatsapp.com/send/?phone=542664974803">
                        <img href="https://api.whatsapp.com/send/?phone=542664974803" src="https://images2.imgbox.com/dd/7d/3Vf64wfS_o.png" alt="Bootstrap" width="50" height="30">
                       </a>
                    <br>
                    Turnos onlines
                    <br>
                
            </p>
        </div>
    
    </div>
    
    
</footer>
