
<div class="row mx-3">

      <div class="card mx-3 " style="width: 18rem;">
        <img src="https://images2.imgbox.com/69/e2/J680KmP5_o.jpeg" class="card-img-top mt-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kinesiologia</h5>
          <p class="card-text">-Lic. Federico Gonzalo Fulano <br> -Tel: 2664-768576</p>
          <a href="/turnos" class="btn btn-success">Sacar turno!</a>
        </div>
      </div>

      <div class="card mx-3 " style="width: 18rem;">
        <img src="https://images2.imgbox.com/d2/0f/orMG6M6X_o.jpg" class="card-img-top mt-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fonoaudiologia</h5>
          <p class="card-text">-Lic. Federico Gonzalo Fulano <br> -Tel: 2664-768576</p>
          <a href="/turnos" class="btn btn-success">Sacar turno!</a>
        </div>
      </div>

      <div class="card mx-3 " style="width: 18rem;">
        <img src="https://images2.imgbox.com/8c/fa/YFpPVqy2_o.jpg" class="card-img-top mt-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Psicologia</h5>
          <p class="card-text">-Lic. Federico Gonzalo Fulano <br> -Tel: 2664-768576</p>
          <a href="/turnos" class="btn btn-success">Sacar turno!</a>
        </div>
      </div>
      
      <div class="card mx-3 " style="width: 18rem;">
        <img src="https://images2.imgbox.com/e1/47/iIb6IAWk_o.jpg" class="card-img-top mt-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hidroterapia</h5>
          <p class="card-text">-Lic. Federico Gonzalo Fulano <br> -Tel: 2664-768576</p>
          <a href="/turnos" class="btn btn-success">Sacar turno!</a>
        </div>
      </div>



   
   
</div>
