

<div class=" w-100" style="display: flex; flex-direction: row;">
   
  <div class="w-50">
      
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images2.imgbox.com/71/9b/N4bg6lMi_o.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images2.imgbox.com/71/9b/N4bg6lMi_o.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images2.imgbox.com/43/e0/IPZv8SO2_o.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

        
    </div>
    <div class="w-50" style="background-color:#0848B8;display: flex;align-items: center;justify-content: center;">
      
     
           

       
        <p class=" fs-5 text-white text-center " >
          
          "Justo después de lesionarte, comienza el proceso de curación. Y no puedes detenerlo, a menos que dejes de moverte."

        </p>
      
      
     

        

    </div>

   
   
</div>


